<div>
  <h2>{{ contest.name }}</h2>
  <div class="mt-4">
    <a href="/app/contests/{{contest.id}}" class="red" target="_blank">https://hack.codingblocks.com/app/contests/{{contest.id}}</a>
  </div>
</div>

<div class="mt-4">
  <Contest::ContestEditor 
    @contest={{contest}}
  />
</div>

{{#if layout.bottomBarElement}}
  {{#-in-element layout.bottomBarElement}}
    <div class="bottom-bar">
      <Contest::ContestBottomBar @contest={{contest}} />
    </div>
  {{/-in-element}}
{{/if}}
